@{
    ViewBag.Title = "Index";
}


	 	<div class="row">
	 	
	 		<! -- BLOG POSTS LIST -->
	 		<div class="col-lg-8">
			<! -- Blog Post 1 -->
		 		<p><a href="blog_destiny.html"> <img src="/Content/img/destiny.jpg" alt=""></a></p>
		 		<a href="blog_destiny.html"><h3 class="ctitle">Destiny HotFix 10/14</h3></a>
		 		<p><csmall>Posted: October 17, 2014.</csmall> | <csmall2>By: Greg Richardson</csmall2></p>
		 		<p>
					The folks over at Bungie are really staying on top of getting hot fixes out for thier latest flagship game, 
					Destiny. Two and half weeks after players started dominating PvP with the over powered exotic Vex Mythoclast fusion 
					rifle(though it was in the primary slot and functioned like a scout rifle), Bungie pushed an update lowering its damage. 
					It's the swift updates that keep classes and weapons on even footing that keeps gamers from getting frustrated and giving 
					up in the long term when they keep getting matched against much stronger opponents. Sure, fixing bugs is important too, 
					but keeping the game fair and playable is far valluable to the players. Which is why so many keep playing despite the 
					playable storyline being over(for now). A short recap of the updates I find important that Bungie did on 10/14:</p>
		 		<p><a href="blog_destiny.html">[Read More]</a></p>
		 		<div class="hline"></div>
		 		
		 		<div class="spacing"></div>
		 		
	 			<! -- Blog Post 2 -->
		 		<p><a href="mariokart-entry.html"> <img src="/Content/img/link.jpg" alt=""></a></p>
		 		<a href="mariokart-entry.html"><h3 class="ctitle">Mario Kart 8 has upcoming DLC packs</h3></a>
		 		<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Scott Dukeshire - 3 Comments</csmall2></p>
		 		<p>Mario Kart 8 is rolling out new content in the form of three new DLC packs.  There is a Zelda DLC pack, Animal Crossing pack, and a Mercedes-Benz pack.  The Zelda pack 
					comes with three new playable characters: Link, Tanooki Mario, and Cat Peach.  There are four new vehicles, eight new tracks and two new cups to play.  The Animal Crossing DLC pack 
					includes Isabelle, Dry Bowser, and Villager.  This DLC pack also comes with four new vehicles, eight new tracks, and two new cups.  The Mercecedes-Benz DLC is a free add-on that 
					allows players to drive in three different Mercedes vehicles; the GLA, W25 Silver Arrow, and the 300SL Roadster.</p>
		 		<p><a href="mariokart-entry.html">[Read More]</a></p>
		 		<div class="hline"></div>

		 		<div class="spacing"></div>
		 		
	 			<! -- Blog Post 3 -->

		 		<p><a href="pokemon-megas.html" ><img src="/Content/img/pokemon-banner.jpg" alt=""></a></p>
		 		<a href="pokemon-megas.html"><h3 class="ctitle">Pokemon Mega Evolutions look pretty</h3></a>
		 		<p><csmall>Posted: September 27, 2014.</csmall> | <csmall2>By: Ash Ketchum - 3 Comments</csmall2></p>
		 		<p>With Pokemon Omega Ruby Version and Pokemon Alpha Sapphire Version hitting stores next month, CGI took the time to review some of the key features of the new games.
		 			One of them being new "Mega Evolutions" that take place in battle. Debuting in the previous games, Pokemon X and Pokemon Y, this new gameplay feature revolutionizes 
		 			the way battles are fought.</p>
		 		<p><a href="pokemon-megas.html">[Read More]</a></p>
		 		<div class="hline"></div>
		 		
			</div><! --/col-lg-8 -->
	 		
	 		
	 		<! -- SIDEBAR -->
	 		<div class="col-lg-4">
		 		<h4>Search</h4>
		 		<div class="hline"></div>
		 			<p>
		 				<br/>
		 				<input type="text" class="form-control" placeholder="Search something (Under Construction)">
		 			</p>
		 			
		 		<div class="spacing"></div>
		 		
		 		<h4>Trending Games</h4>
		 		<div class="hline"></div>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Super Smash Brothers for 3DS</a> </p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Destiny</a></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Mario Kart 8</a></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Pokemon</a> </p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Dragonball: Xenoverse</a> </p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Persona 4 Arena: Ultimax</a> </p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Bravely Default</a> </p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Final Fantasy XV</a> </p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Kingdom Hearts 3</a> </p>

		 		<div class="spacing"></div>
		 		
		 		<!-- <h4>Recent Posts</h4>
		 		<div class="hline"></div>
					<ul class="popular-posts">
		                <li>
		                    <a href="#"><img src="assets/img/thumb01.jpg" alt="Popular Post"></a>
		                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
		                    <em>Posted on 02/21/14</em>
		                </li>
		                <li>
		                    <a href="#"><img src="assets/img/thumb02.jpg" alt="Popular Post"></a>
		                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
		                    <em>Posted on 03/01/14</em>
		                <li>
		                    <a href="#"><img src="assets/img/thumb03.jpg" alt="Popular Post"></a>
		                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
		                    <em>Posted on 05/16/14</em>
		                </li>
		                <li>
		                    <a href="#"><img src="assets/img/thumb04.jpg" alt="Popular Post"></a>
		                    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
		                    <em>Posted on 05/16/14</em>
		                </li>
		            </ul>
		            
		 		<div class="spacing"></div> -->
		 		
		 		
	 		</div>
	 	</div><! --/row -->
